:root{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --heavy-green: #064e3b;
    --light-green: #ecfdf5; 
}

body{
    margin: 0;
    padding: 0;
    background-color: #a7f3d0;
}
.header{
    width: 46%;
    height: 100px;
    background-color: var(--heavy-green);
    color: var(--light-green);
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 0 0 20px 0;
}
header{
    display: flex;
}
.book-icon{
    width: 50px;
    height: 50px;
    fill: var(--light-green);
    margin-left: 25px;
}
.title{
    font-size: 1.7rem;
    margin-left: 10px;
}
.subtitle{
    align-content: first baseline;
    margin-left: 15px;
    margin-right: 25px;
}
.plus-icon{
    width: 25px;
    height: 25px;
    fill: white;
    margin-right: 8px;
}
.add{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 60px;
    align-self: center;
    margin-left: 35px;
    background-color: var(--heavy-green);
    color: white;
    border-radius: 15px;
    border-style: none;
    padding: 10px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add:hover{
    background-color: var(--light-green);
    color: var(--heavy-green);
    .plus-icon{
        fill: var(--heavy-green);
    }
    cursor: pointer;
}
.add:active{
    background-color: white;
    color: black;
    .plus-icon{
        fill: black;
    }
}
.content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin: 30px;
}
.card{
    display: grid;
    grid-template-rows: 1.4fr 1.2fr 1.2fr 1.6fr;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    gap: 10px;
    color: var(--heavy-green);
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    border-right: 8px solid var(--heavy-green);
    border-left: 8px solid var(--heavy-green);
    font-size: 1.1rem;
}
.book-name{
    font-size: 1.4rem;
    grid-column: 1 / 3;
    justify-self: center;
}
.author{
    grid-column: 1 / 3;
    justify-self: center;
}
.pages{
    grid-column: 1 / 3;
    justify-self: center;
}
.read-status{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    display: flex;
    gap: 7px;
}
.toggle-button{
    background-color: #d2d2d2;;
    width: 32px;
    height: 18px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 2px;
}
.toggle-button::before{
    position: absolute;
    content: '';
    background-color: #fff;
    width: 13px;
    height: 14px;
    border-radius: 10px;
    margin: 2px;
    transition: 0.2s;
}
input:checked + .toggle-button{
    background-color: var(--heavy-green);
}
input:checked + .toggle-button::before{
    transform: translateX(16px);
}
.delete{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    background-color: #790101;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
}
.delete:hover{
    background-color: #550000;
    cursor: pointer;
}
.delete:active{
    background-color: #790101;
}
.read-status, .delete{
    margin-top: 5px;
}
#check{
    display: none;
}
